body {
  font-family: sans-serif;
  background-color: #fcfcfc;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}
* {
  box-sizing: border-box;
}
.form-description {
}
select, input {
  width: 10rem;
}
h1 {
  font-size: 1em;
}
h1, h3 {
  margin: 0.67em 0;
  font-weight: 300;
}
ul {
  list-style: none;
}
select {
  width: 200px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  /*display: inline-block;*/
  height: 28px;
  padding: 0 30px;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  width: 13rem;
  box-sizing: border-box;
}
.color1 {
  color: #F55449;
}
/*-------APP component*/
.app-nav-bar {}
.app-page-container{}
.app-contents {
  width: 75%;
  padding: 2em 3em 0;
  margin-left: 25%;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}
/*---------shared in components*/
.RequestsAll-title,
.AddRequest-title{
  text-transform: uppercase;
}
.RequestsAll-content,
.AddRequest-content,{}
.AddRequest-inp-subj{
  width: 100%;
}
.AddRequest-inp-message{
  width: 100%;
}
/*---------RequesView comp*/
.RequestView-pgeTitle{
}

.RequestView-contactDetails{}
.RequestView-billingDetails{}
.RequestView-dateDetails{}

.RequestView-topicDetails,
.RequestView-approval {
  padding-top: 2rem;
}
/*---------AddRequest component*/
.emplDetailsBox {
  display: flex;
  width: 100%;
}
.AddRequest-selectEmplNo{
  width: 25%;
}
.AddRequest-emplDetails-results{
  width: 75%;
  margin-left: 25%;
}
.RequestsAll-box,
.AddRequest-box,
.RequestView-box{
  margin-top: 4px;
  box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  background-color: #f4f4f4;
  line-height: 130%;
}
h3, h4 {
  color: #F55449;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-size: 1rem;
}
/*---------Home component*/
.home-items{}
/*-------NavBar component*/
.nav-home-link {
  text-decoration: none;
  color: white;
}
.nav-logo-container{
  width: 150px;
  height: 150;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  color: black;
  border: 1px solid white;
  margin: auto;
}
.nav-logo-container img {
  width: 80px;
}
.nav-sideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 0;
  padding: 3px;
  width: 25%;
  background-color: #444C5C;
  color: whitel;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: right;
  color: white
}
.nav-button {
  /*display: inline-block;*/
  /*zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  border: 1px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 50%;
  padding: 3px;
  text-decoration: none;
  list-style: none;
  width: 200px;
  font-family: 'Lato', sans-serif;
  text-align: center;*/
  /*display: inline-block;*/
  height: 28px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  width: 13rem;
  box-sizing: border-box;
  color: white;
  border: none;
/*border-radius: 0;
border-bottom: 3px solid #fff;
color: #fff;
margin: 0 4px;*/
}

/*---------RequestsAll component-*/
.RequestsAll-title{
  background-color: #dddddd;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  vertical-align: bottom;
  padding: 0;
  margin-top: 0;
  height: 2rem;
  width: 150%;
  margin-left: -25%;
  height: 50px;
}
.RequestsAll-title h1 {
  margin: 0;
  padding-top: 1rem;
}
.form {
  margin-top: 2rem;
}
.request {
  margin-left: 20px;
  margin-right: 20px;

}
.AllRequests-request {
  text-align: center;
}
/*--------table on RequestsAll component:*/
.RequestsAll-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.RequestsAll-link {
  text-decoration: none;
}
/*------------*/


.CliList {
  text-align: right;
}
